<div class="collapsible-container"
     [ngClass]="{'nested': isNested, 'invalid': invalid, 'disabled': disabled}"
     @onContainerInit>
  <div class="collapsible-container-header"
       [ngClass]="{'nested': isNested, 'invalid': invalid, 'disabled': disabled}">
    <div (click)="switchState()" [ngClass]="{'invalid': invalid, 'disabled': disabled}">
      <ng-container [ngTemplateOutlet]="toggleIcon"></ng-container>
    </div>
    <div class="collapsible-container-header-container">
      <ng-container [ngTemplateOutlet]=" title ? headerTitle : headerContent"></ng-container>
    </div>
  </div>

  <div @expandCollapse class="collapsible-container-content"
       [ngClass]="{'disabled': disabled, 'nested': isNested}" *ngIf="templateRef && !isCollapsed">
    <ng-container [ngTemplateOutlet]="templateRef"></ng-container>
  </div>
</div>

<ng-template #headerTitle>
  <fa-collapsible-container-header>{{ title }}</fa-collapsible-container-header>
</ng-template>

<ng-template #headerContent>
  <ng-content select="fa-collapsible-container-header"></ng-content>
</ng-template>

<ng-template #toggleIcon>
  <div class="plus-button">
    <div class="horizontal-line" [@horizontalLineRotate]="isCollapsed"></div>
    <div class="vertical-line" [@verticalLineRotate]="isCollapsed"></div>
  </div>
</ng-template>