:host {
  --size: 19px;

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    input[type=checkbox] {
      --local-border-shadow-laying: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
      --local-border-shadow-hover: 0 0 0 0.3rem rgba(100, 70, 160, 0.3);
      --local-border-shadow-active: 0 0 0 0.1rem rgba(100, 70, 160, 0.18);
      --local-border-shadow-elevated: 0 4px 8px 0 rgb(0, 0, 0, 0.16);
      --local-border-shadow-deactive: 0 0 0 0 #fff;
      --local-border-shadow-inset-deactive: inset 0 0 0 0 #fff;
      --animation-speed: 280ms;

      cursor: pointer;
      border: 1px solid #bab5c5;
      appearance: none;
      background: #fff;
      width: var(--size);
      height: var(--size);
      min-width: var(--size);
      min-height: var(--size);
      border-radius: calc(var(--size) / 4);
      margin: 0 0.2rem;
      box-shadow: var(--local-border-shadow-laying), var(--local-border-shadow-deactive);
      transition: box-shadow var(--animation-speed) ease-in-out, transform var(--animation-speed) ease-in-out, border-color var(--animation-speed) ease-in-out;
      outline: none;

      &:after {
        content: "";
        display: block;
        position: relative;
        top: 6%;
        left: 29%;
        width: 40%;
        height: 70%;
        border: solid transparent;
        border-width: 0 0.2em 0.2em 0;
        transform: rotate(45deg);
        transition: border-color var(--animation-speed) ease-in-out;
        transition-delay: 100ms;
      }

      &:hover {
        box-shadow: var(--local-border-shadow-laying), var(--local-border-shadow-hover);
      }

      &:active {
        box-shadow: var(--local-border-shadow-laying), var(--local-border-shadow-active);
      }

      &:checked {
        border-color: #684bca;

        &:after {
          border-color: #fff;
        }

        transform: scale(1.1);
        box-shadow: var(--local-border-shadow-elevated), var(--local-border-shadow-deactive), inset 0 0 0 0rem #fff, inset 0 0 0 1rem #7464a6;
      }

      &:focus-visible {
        transition: box-shadow 0s linear;
        box-shadow: var(--local-border-shadow-laying), var(--local-border-shadow-hover);

        &:checked {
          box-shadow: var(--local-border-shadow-laying), var(--local-border-shadow-hover), inset 0 0 0 0rem #fff, inset 0 0 0 1rem #7464a6;;
        }
      }
    }
  }
}
