:host {
  --size: 20px;

  label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    input {
      cursor: pointer;
      appearance: none;
      border: 1px solid grey;
      width: var(--size);
      height: var(--size);
      border-radius: 6px;
      transition: box-shadow 60ms ease-in-out;
      margin: 0 0.2rem;

      &:hover {
        box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
      }

      &:checked {
        background: #d0d0d0;
      }
    }
  }
}
