<div class="fa-select" [attr.aria-label]="label">
  <button
      #selectButton
      type="button"
      [attr.aria-haspopup]="true"
      [attr.aria-expanded]="isOpen"
      (click)="toggleDropdown()"
  >
    <ng-template #valueTmpl>{{ selectedOption?.value || placeholder }}</ng-template>
    <ng-container *ngTemplateOutlet="valueTmpl"></ng-container>
    <span class="arrow" [class.open]="isOpen">▼</span>
  </button>
  <div class="dropdown" [class.open]="isOpen">
    <ul *ngIf="isOpen" role="listbox">
      <li *ngFor="let option of options"
          role="option"
          [attr.aria-selected]="option === selectedOption"
          (click)="selectOption(option)"
          (keydown.enter)="selectOption(option)"
          [class.selected]="option === selectedOption"
          tabindex="0">
        <ng-container *ngTemplateOutlet="option.content"></ng-container>
      </li>
    </ul>
  </div>
</div>