.fa-select {
  position: relative;
  width: 200px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.arrow {
  margin-left: 8px;
  transition: transform 0.3s;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
  z-index: 1000;
}

.dropdown.open {
  display: block;
}

ul {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  user-select: none;
  overflow-x: hidden;
}

li {
  font-size: 0.9em;
  position: relative;
  font-optical-sizing: auto;
  padding: 8px;
  cursor: pointer;
  transition: transform 150ms ease-in, background-color 250ms ease-out, color 250ms ease-out;
  font-weight: 500;
  text-transform: capitalize;
  color: #6f7488;
}

li.selected {
  background-color: #eeeeff;
  color: black;
}

li:hover, li:focus-visible, li:focus-within {
  background-color: #dbdbff;
  color: black;
  z-index: 1;
}

li:hover + li, li:focus-visible + li, li:has(+ li:hover), li:has(+ li:focus-visible) {
  transform: translate(2%);
}

li:hover, li:focus-visible, li:focus-within, li.selected {
  transform: scale(1.08) translate(6%) !important;
}

li:active {
  background-color: #cacae3;
  transition: background-color 50ms ease-in;
}