<button
    type="button"
    role="combobox"
    [attr.aria-expanded]="dropdownOpen"
    aria-haspopup="listbox"
    class="select-box-button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    #element
    (click)="onClick()"
    [disabled]="isDisabled">
  {{ selectedValue ?? 'Select value' }}
</button>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayWidth]="element.offsetWidth"
    [cdkConnectedOverlayOpen]="dropdownOpen">
  <div [id]="listboxId" @fadeInOut role="listbox" class="dropdown" cdkTrapFocus>
    <ng-content></ng-content>
  </div>
  <div @fadeInOut (click)="closeDropdown()" class="select-backdrop"></div>
</ng-template>