<div class="main-page-container">
  <fa-select style="width: 150px">
    <fa-option value="option 1">option 1</fa-option>
    <fa-option value="option 2">option 2</fa-option>
    <fa-option value="option 3">option 3</fa-option>
  </fa-select>
  <div>
<!--    <fa-autocomplete id="auto1" placeholder="autocomplete">label</fa-autocomplete>-->
<!--    <fa-checkbox>this is <b>important</b> checkbox 1</fa-checkbox>-->
<!--    <fa-checkbox>this is <b>important</b> checkbox 2</fa-checkbox>-->
<!--    <fa-checkbox>this is <b>important</b> checkbox 3</fa-checkbox>-->
<!--    <fa-checkbox>this is <b>important</b> checkbox 4</fa-checkbox>-->
<!--    <fa-radio-group (selectedValue)="onValueChange($event)">-->
<!--      <fa-radio value="some value 1">this is <b style="user-select: text">important</b> radio</fa-radio>-->
<!--      <fa-radio value="some value 2">this is <b style="user-select: text">important</b> radio</fa-radio>-->
<!--    </fa-radio-group>-->
  </div>
</div>