.main-page-container {
  --bd-pink-rgb: 214, 51, 132;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bs-primary-rgb: 13, 110, 253;
  --bs-body-bg-rgb: 255, 255, 255;

  color: rgb(214, 51, 132);
  color: rgb(112, 44, 249);
  color: rgb(255, 228, 132);
  color: rgb(13, 110, 253);
  color: rgb(255, 255, 255);

  background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),
                    radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),
                    radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),
                    radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),
                    radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.test-outline {
  //background: red;
  //border: 2px red solid;
  //box-shadow: 0 0 0 1px red;
  //outline: rgba(255, 0, 0 ,0.2) solid 1em;
}

table {
  max-width: 740px;
  font-size: 14px;
  border-collapse: collapse;
  text-wrap: balance;

  td, th {
    padding: 2px 6px;
  }

  th {
    background: #f0f0f0;
    border: 1px solid grey;
    font-size: 12px;
  }

  td {
    border: 1px solid grey;
  }
}

