<div class="main-page-container">
  <div style="padding-top: 20px">
    <fa-autocomplete id="auto1" placeholder="autocomplete">label</fa-autocomplete>
  </div>
  <!--  <fa-collapsible-container [title]="'this is parent collapsible'">-->
  <!--    <div>div div div</div>-->
  <!--    <div>div div div</div>-->
  <!--    <div>div div div</div>-->
  <!--    <fa-collapsible-container>-->
  <!--      <div header>this is nested collapsible with header content</div>-->
  <!--      <div>div div div</div>-->
  <!--      <div>div div div</div>-->
  <!--      <div>div div div</div>-->
  <!--      <fa-collapsible-container>-->
  <!--        <div header>this is nested collapsible with header content</div>-->
  <!--        <div>div div div</div>-->
  <!--        <div>div div div</div>-->
  <!--        <div>div div div</div>-->
  <!--      </fa-collapsible-container>-->
  <!--    </fa-collapsible-container>-->
  <!--  </fa-collapsible-container>-->

  <!--  <app-date-picker>תאריך בקשה</app-date-picker>-->

  <!--  <fa-select>-->
  <!--    <fa-option value="option 1">-->
  <!--      <div>moshe hamelech</div>-->
  <!--      <div>artur hamelech</div>-->
  <!--      <button>hooray</button>-->
  <!--    </fa-option>-->
  <!--    <fa-option value="option 2">משה הקינג</fa-option>-->
  <!--    <fa-option value="option 3">פרוסס מספר 554564645</fa-option>-->
  <!--    <fa-option [value]="'option 4'">option 4</fa-option>-->
  <!--    <fa-option [value]="'option 5'">option 5</fa-option>-->
  <!--  </fa-select>-->

  <!--  <div>original table</div>-->
  <!--  <table>-->
  <!--    <thead>-->
  <!--    <tr>-->
  <!--      <th>תוכנית</th>-->
  <!--      <th>שם תוכנית</th>-->
  <!--      <th>סכום צבירה מומר</th>-->
  <!--      <th>סכום פנסיה חודשי</th>-->
  <!--      <th>מוקדם מ 2008</th>-->
  <!--      <th>מוקדם עד 2008</th>-->
  <!--      <th>סכום פניה לבן/בת זוג</th>-->
  <!--      <th>סכום פנסיה לשארים</th>-->
  <!--      <th>סוג קצבה</th>-->
  <!--      <th>מס' חודשי הבטחה</th>-->
  <!--    </tr>-->
  <!--    </thead>-->
  <!--    <tbody>-->
  <!--    <tr>-->
  <!--      <td>180567565</td>-->
  <!--      <td>מקפת אישית</td>-->
  <!--      <td>310,225.52</td>-->
  <!--      <td>1,520.78</td>-->
  <!--      <td>180.45</td>-->
  <!--      <td></td>-->
  <!--      <td>0.00</td>-->
  <!--      <td>0.00</td>-->
  <!--      <td></td>-->
  <!--      <td></td>-->
  <!--    </tr>-->
  <!--    </tbody>-->
  <!--  </table>-->

  <!--  <br>-->
  <!--  <div>ellipsis table</div>-->
  <!--  <table>-->
  <!--    <thead>-->
  <!--    <tr>-->
  <!--      <th >תוכנית</th>-->
  <!--      <th >שם תוכנית</th>-->
  <!--      <th >סכום צבירה מומר</th>-->
  <!--      <th >סכום פנסיה חודשי</th>-->
  <!--      <th >מוקדם מ 2008</th>-->
  <!--      <th >מוקדם עד 2008</th>-->
  <!--      <th >סכום פניה לבן/בת זוג</th>-->
  <!--      <th >סכום פנסיה לשארים</th>-->
  <!--      <th >סוג קצבה</th>-->
  <!--      <th >מס' חודשי הבטחה</th>-->
  <!--    </tr>-->
  <!--    </thead>-->
  <!--    <tbody>-->
  <!--    <tr>-->
  <!--      <td>180567565</td>-->
  <!--      <td ellipsis>מקפת אישית</td>-->
  <!--      <td>310,225.52</td>-->
  <!--      <td>1,520.78</td>-->
  <!--      <td>180.45</td>-->
  <!--      <td></td>-->
  <!--      <td>0.00</td>-->
  <!--      <td>0.00</td>-->
  <!--      <td></td>-->
  <!--      <td></td>-->
  <!--    </tr>-->
  <!--    </tbody>-->
  <!--  </table>-->
</div>