
table, table * {
  position: relative;
}

table {
  border-collapse: collapse;
  isolation: isolate;
}

tr {
  position: absolute;
  cursor: grab;
  background: darkgray;
  border: 2px solid black;
}

td {
  font-size: 2rem;
  padding: 0.1em 2em;
  user-select: none;
}

.drag-animation {
  transition: all 1s linear;
}

.content-dragging {
  border: 2px solid red;
}

[dragging="true"]{
  z-index: 9999;
}

