<table #tableContainer
       tabindex="0"
       mat-table
       matSort
       [dataSource]="dataSource"
       class="full-width-table"
       (focusout)="onTableBlur()"
       (focus)="onTableFocus()"
       (keydown)="onTableKeydown($event)"
       (mouseleave)="onTableBlur()">

  <ng-container></ng-container>

  <tr style="user-select: none" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
      (mouseenter)="selectedRow(row)"
      (dblclick)="onRowActivate(row)"
      [class.selected]="isSelected(row)">
  </tr>
</table>

<mat-paginator style="user-select: none" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>